<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.XyAccountMapper">

    <resultMap type="XyAccount" id="XyAccountResult">
        <result property="account"    column="account"    />
        <result property="xyRoleNum"    column="xy_role_num"    />
    </resultMap>

    <sql id="selectXyAccountVo">
        select account, xy_role_num from xy_account
    </sql>

    <select id="selectXyAccountList" parameterType="XyAccount" resultMap="XyAccountResult">
        <include refid="selectXyAccountVo"/>
        <where>
            <if test="account != null  and account != ''"> and account like concat('%', #{account}, '%')</if>
            <if test="xyRoleNum != null "> and xy_role_num like concat('%', #{xyRoleNum}, '%')</if>
        </where>
    </select>

    <select id="selectXyAccountById" parameterType="String" resultMap="XyAccountResult">
        <include refid="selectXyAccountVo"/>
        where account = #{account}
    </select>

    <insert id="insertXyAccount" parameterType="XyAccount">
        insert into xy_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null">account,</if>
            <if test="xyRoleNum != null">xy_role_num,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="account != null">#{account},</if>
            <if test="xyRoleNum != null">#{xyRoleNum},</if>
        </trim>
    </insert>

    <update id="updateXyAccount" parameterType="XyAccount">
        update xy_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="xyRoleNum != null">xy_role_num = #{xyRoleNum},</if>
        </trim>
        where account = #{account}
    </update>

    <delete id="deleteXyAccountById" parameterType="String">
        delete from xy_account where account = #{account}
    </delete>

    <delete id="deleteXyAccountByIds" parameterType="String">
        delete from xy_account where account in
        <foreach item="account" collection="array" open="(" separator="," close=")">
            #{account}
        </foreach>
    </delete>

</mapper>